# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.venv
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

logs/
*.log
*.txt
!requirements.txt
!requirements-container.txt

# 素材
*.wav
*.opus
*.mp3
*.mp4
*.ts

mye/
myeclear/